<div class="w3-container w3-teal">
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
    <div class="w3-container">
        <%= render 'templates/page_title', title:"Edit #{@montir.name}'s Account"%>
    </div>
</div>
<%= render 'form'%>
