<p id="notice"><%= notice %></p>

<%# Header with Sidebar Button %>
<div class="w3-container w3-black">
  <button class="w3-button w3-black w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
    <%= render 'templates/page_title', title:"Montir Monthly Report" %>
  </div>
</div>

<table>
    <tbody>
        <%= render 'report', obj: @montirs %>
    </tbody>
</table>

