<p id="notice"><%= notice %></p>

<h1>Salaries</h1>

<table>
  <thead>
    <tr>
      <th>Montir</th>
      <th>Subtotal</th>
      <th>Potongan</th>
      <th>Bonus</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render 'sales/sale', obj:@salary.sales %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary', new_salary_path %>
