<%# Header with Sidebar Button %>
<div class="w3-container w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
    <%= render 'templates/page_title', title:"New Sale Data" %>
  </div>
</div>
<%= render 'form', sale: @sale %>

<%= link_to 'Back', sales_path, class:'btn btn-default' %>
