<div class="w3-container w3-black">
  <%= render 'templates/page_title', 
title:"Edit Data Pelanggan" %>
</div>

<%= render 'form', pelanggan: @pelanggan %>

  <%= link_to 'Show', @pelanggan, class:'btn btn-success' %> |
  <%= link_to 'Back', pelanggans_path, class:'btn btn-default' %>
