<!DOCTYPE html>
<html>
<head>
<title>Monthly Report</title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
  <style>
  td, p {
      font-size:12pt;
  }
  </style>
</head>
<body>
  <div class='container'>
      <%# Detail Nomor Perbaikan %>
      <h2 style="text-align:center">Bengkel Mobil Jaya</h2>
      <p style="text-align:center">Jl.Makam Pahlawan, Km.5, <br>Tanjung Pinang, Kepulauan Riau</p>
      <br>
  </div>
</body>
</html>